body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}

a {
  color: #885d88;
}

.weather-app {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-data-app {
  display: flex;
  justify-content: space-between;
}

.weather-city-app {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-details-app {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-details-app strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-icon-app {
  font-size: 44px;
  margin-top: 22px;
}

.weather-temperature-app {
  font-size: 88px;

  font-weight: bold;
  line-height: 88px;
}

.weatehr-unit-app {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast{
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date
{
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min{
  opacity: 0.5;
}

.weather-forecast-temperatures{
  font-size: 13px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
